@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

.header {
    color: #383838;
    text-align: center;
    padding: 20px;
    font-size: 15px;
    background: white;
    margin-bottom: 350px;
    font-family: "Open Sans";
    &__logo {
        width: 70px;
    }
    &__tabs {
        display: none;
        @include breakpoint(s) {
            display: block;
        }
        a {
            margin: 10px;
            color: #383838;
            &:hover {
                color: map-get($colors, red);
            }
        }
    }
}

.footer {
    background: map-get($colors, red);

    text-align: center;
    color: white;
    padding: 10px 0;
    a {
        color: white;
    }

    &__content {
        padding: 20px;
    }
    &__note {
        font-weight: 900;
        padding: 15px 5px;
        p {
            font-size: 0.6rem !important;
        }
    }

    p {
        color: white;
        margin: 6px;
    }
    &__logo {
        width: 50px;
    }
    &__line {
        color: white;
        background: white;
        height: 1px;
        width: 100%;
    }
}

.page {
    padding-top: 10px;
    background: white;
    p {
        color: #383838;
    }
    &__centered{ 
        width: 90%;
        margin: auto;
        padding: 10px 0px;
        @include breakpoint(m) {
            width: 75%;
            margin: auto;
            padding: 30px 0px;
        }
        h2 {
            text-align: center;
        }
        &__line{
            display: block;
            justify-content: space-between;
            @include breakpoint(m) {
                display: flex;
                justify-content: space-between;
            }
        }
        &__text{
            flex: 0 0 45%;
        }
    }
    &__content {
        width: 90%;
        margin: auto;
        padding: 10px 0px;
        @include breakpoint(m) {
            width: 75%;
            margin: auto;
            padding: 30px 0px;
        }
    }
    &__box {
        display: block;
        margin: 20px auto 0px;
        padding: 20px;
        @include breakpoint(m) {
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 40px 3%;
        }
        @include breakpoint(l) {
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 40px 8%;
        }
        @include breakpoint(xl) {
            padding: 40px 8%;
        }
        @include breakpoint(xxl) {
            padding: 40px 10%;
        }
        &__text {
            flex: 0 0 45%;
        }
        &__img {
            flex: 0 0 40%;
        }
        &__rev {
            background: #f6f6f6;
            display: flex;
            flex-direction: column-reverse;
            @include breakpoint(m) {
                flex-direction: row;
            }
        }
    }
    &__main {
        display: none;
        @include breakpoint(m) {
            position: fixed;
            top: 0px;
            z-index: -1;
            display: block;
            width: 100vw;
        }
    }
    &__main-mob {
        position: fixed;
        top: 0px;
        z-index: -1;
        width: 100%;

        @include breakpoint(m) {
            display: none;
        }
    }
    &__pres {
        h2 {
            color: white !important;
            text-align: center;
        }
        &__content {
            width: 90%;
            margin: auto;
            @include breakpoint(m) {
                width: 70%;
                margin: auto;
            }
            @include breakpoint(l) {
                width: 60%;
                margin: auto;
            }
        }
        background: map-get($colors, red);
        padding: 30px 0px;
        p {
            color: white;
        }
        &__box {
            display: block;
            @include breakpoint(m) {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            &__img {
                flex: 0 0 30%;
            }
            &__text {
                flex: 0 0 60%;
            }
        }
    }
    &__soins {
        background: white;
        text-align: center;
        padding: 60px 0px;
        &__line {
            display: block;
            width: 80%;
            margin: auto;
            @include breakpoint(m) {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 70%;
                margin: auto;
            }
        }
        &__card {
            flex: 0 0 45%;

            &:hover {
                filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.25));
            }
            &:hover > p {
                color: map-get($colors, red);
            }
        }
    }
    &__grid {
        width: 80%;
        margin: 10px auto 0px;
        padding-bottom: 50px;
        &__card {
            p {
                font-size: 0.7rem !important;
                margin-bottom: 0px;
                margin: auto;
            }

            background: #f6f6f6;
            width: 220px;
            height: 215px;
            margin: auto;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    &__article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        align-items: center;
        background: #f6f6f6;
        padding: 20px;
        margin: 20px auto;

        @include breakpoint(m) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background: #f6f6f6;
            padding: 20px;
            margin: 40px auto;
        }
        &:hover {
            filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.25));
            cursor: pointer;
        }
        &__img {
            flex: 0 0 25%;
        }
        &__text {
            flex: 0 0 65%;
            p {
                margin-bottom: 7px;
            }
            &:hover > h6 {
                text-decoration: underline;
            }
            h6 {
            }

            &__arrow {
                width: 15px;
                margin-bottom: -4px;
                margin-left: 5px;
            }
        }
        &__long{
           display: none;
            @include breakpoint(xl) {
                display: block;
            }
        }
        &__short{
            display: block;
            @include breakpoint(xl) {
                display: none;
            }
        }
    }
}

.active {
    color: red;
}

.bold {
    color: map-get($colors, red);
    font-weight: 900 !important;
}

.menu {
    background: white;
    @include breakpoint(s) {
        display: none;
    }

    &__item {
        position: fixed;
        right: 3%;
        z-index: 9;
    }
    &__dropdown {
        height: 100vh;
        background: white;
        position: fixed;
        right: 0px;
        width: 70%;
        padding: 20px;
        top: 0px;
        text-align: left;
        filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.25));
        p {
            margin: 10px 10px;
            font-size: 0.9rem !important;
        }
    }
    &__backdrop {
        background: black;
        opacity: 0.3;
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
    }
}
